.sidebar {
  background-color: #f8f9fa; /* Light background for the sidebar */
  padding: 15px;
  height: 100vh; /* Full height for the sidebar */
  position: fixed; /* Fixed sidebar */
  width: 200px; /* Fixed width for the sidebar */
  overflow-y: auto; /* Scroll if content exceeds the height */
}
.main-content {
  margin-left: 220px; /* Margin to make space for the sidebar */
}
.form-group {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
}
.modal-dialog {
  max-width: 900px; /* Adjust width as needed */
  width: 100%;
}
label {
  display: block;
  margin-bottom: 5px;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
textarea {
  resize: vertical;
}
.delete-btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.update-btn {
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: darkred;
}
.update-btn:hover {
  background-color: darkgreen;
}
.add-button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.add-button:hover {
  background-color: #0056b3;
}
.delete-button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 3px;
}
.delete-button:hover {
  background-color: darkred;
}
.modal-header {
  background-color: #343a40 !important;
  color: #ffffff;
  border-bottom: 1px solid #0c0b0b;
}
.btn-close {
  filter: invert(1);
  opacity: 1; /* Ensures full visibility */
}
/* Table styling */
.table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border-radius: 8px; /* Rounded corners */
}

.table thead th {
  background-color: #495057; /* Darker shade for the header row */
  color: #ffffff; /* White text for contrast */
  font-weight: bold;
  border-bottom: 2px solid #343a40; /* Adds separation from body */
}

.table tbody tr:hover {
  background-color: #3c3f45; /* Lighter shade on hover */
}

.table td, .table th {
  vertical-align: middle;
  padding: 12px 15px; /* Adds padding for a more spacious look */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #2f3136; /* Dark shade for odd rows */
}
.offcanvas-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: monospace;
}