<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <div class="d-flex" style="background-color: #212529;">
      <%- include('../sidebar.ejs'); %>
    </div>

      <!-- Main Content -->
      <div class="flex-grow-1 p-3" style="margin-left: auto">
        <h2 class="mb-2">
          Client List
          <button type="button" class="add-button" id="openClientFormButton">
            +
          </button>
        </h2>
        <%- include('../clientForm.ejs'); %>
        <script type="module" src="js/clients.js"></script>
        <%- include('../table.ejs'); %>
      </div>
    </div>
  </body>
</html>
