<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <div class="d-flex" style="height: 100vh">
      <%- include('../sidebar.ejs'); %>
      <div class="flex-grow-1 p-3">
        <%- include('../table.ejs'); %>
      <script type="module" src="js/employees.js"></script>
      </div>
    </div>
  </body>
</html>
