<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %> 
  <body>
    <div class="d-flex">
        <%- include('../sidebar.ejs'); %>
      </div>
    </div>
  </body>
</html>
