<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %>
  <body>
    <style>
      .form-container {
        background-color: #212529;
        padding: 20px;
        border-radius: 8px;
        margin-left: auto;
      }

      .form-label {
        margin: 10px 0;
        padding: 5px 10px;
        background-color: #24273a;
        color: white;
        border-radius: 5px;
        font-weight: bold;
      }

      .form-control {
        border-radius: 5px;
        padding: 5px 10px;
        margin: 0 10px;
        width: auto;
      }

      .form-select, .add-button {
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 16px;
        font-weight: 500;
      }

      .date-range-container {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
      }

      #generateReport {
        background-color: #133d6b;
        color: white;
        border: none;
        font-size: 16px;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        font-weight: bold;
      }

      #generateReport:hover {
        background-color: #0f3259;
      }
    </style>
    <div class="d-flex" style="background-color: #212529">
      <%- include('../sidebar.ejs'); %>
    </div>
    <div class="flex-grow-1 p-3" style="margin-left: auto;">
      <h2 class="mb-3">
        Reports
      </h2>
      <select id="reportType" class="form-select" aria-label="Default select example">
        <option value="leadsWithinTimeframe">Leads within a Timeframe</option>
        <option value="leadsBecomingClients">Leads becoming clients within a Timeframe</option>
        <option value="estimatedSales">Estimated Sales</option>
        <option value="actualSales">Actual Sales</option>
        <option value="percentageCompleteofJobs">Percentage Complete of Jobs</option>
      </select>
      <div class="date-range-container">
        <label for="startDate" class="form-label">Start Date</label>
        <input type="date" id="startDate" class="form-control" />
        <label for="endDate" class="form-label" >End Date</label>
        <input type="date" id="endDate" class="form-control"/>
      </div>
      <button type="button" class="add-button mt-1 mb-4" id="generateReport">Generate Report!</button>
      <br>
      <%- include('../table.ejs'); %>
      <script type="module" src="js/reports.js"></script>
  </body>
</html>
