<!doctype html>
<html lang="en" data-bs-theme="auto">
  <%- include('../header.ejs'); %> 
  <body>
    <div class="d-flex" style="background-color: #212529;">
      <%- include('../sidebar.ejs'); %>
    </div>
    </div>
  </body>
</html>
